.padding:hover{
        margin-top: 20px;
}
#card-id{
    /* background-color: #17A589;  */
    background-color: #172d4d;
    
}
.borders{
    border-bottom: 3px solid #138D75;
}

.footer{
    background-color : #0A192F;
}
.footer-icon{
    color: whitesmoke;
    font-size: 25px;
    margin-right: 15px;
}
.tech{
    padding: 6px;
    border-radius: 5px;
    background-color: #138D75;
}
  