*{
	font-family: 'Roboto Mono', monospace;
}
body {
	
	background: linear-gradient(-45deg, #ee7752, #0d3495af, #0A192F, #0765a5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}