.contact{
    background-color: #0A192F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-details{
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
}
.contact-title{
    height: 150px;
    background-color: #2196F3;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-font{
    font-weight: 600;
    font-size: 35px;
    
}
.send{
    background-color: #2196F3;

}
.touchs-color{
    color: #2196F3;
}